body {
    background: #0a0807;
    height: 100vh;
    color: white;
}

.brand {
    font-size: 40px;
    padding: 15px;
    width: 40%;
    float: left;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    margin-top: 30px;
    padding-top: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #353231;
}

.article {
    background: #353231;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    margin: 10px;
}


.article_span  {
    display: flex;
    justify-content: center;
}
.article_span a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.article h2 {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
